@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@200;300;400;500;600;800&family=Noto+Sans:wght@200;400;500&family=Press+Start+2P&display=swap");
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pixelName {
  font-family: "Press Start 2P", cursive;
}

span {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  font-weight: bold;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
